<!-- <p *ngIf="!greeting; else showGreeting">
  Type a greeting:
</p>
<p>
  {{greeting}}
</p>
<ng-template #showGreeting>
  You typed a greeting!
</ng-template>

<input type="text" [(ngModel)]="greeting" (keyup)="log($event)"> -->

<!-- <div>
  <ul>
    <li *ngFor="let person of people">
      {{person.name}}
    </li>
  </ul>
</div> -->

<input type="text" [(ngModel)]="personName">
<button (click)="addPerson(personName)">Add</button>

<app-greeting *ngFor="let person of people" [person]="person"></app-greeting>
